/* Tailwind Colors */
button,
input[type=submit] {
  background-color: #3b82f6;
  color: #ffffff;
  font-weight: 600 !important;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover,
input[type=submit]:hover {
  background-color: #2563eb;
}

/* Fixes Contact Form Styles */
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/* Use a better box model */
*,
::before,
::after {
  box-sizing: border-box;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}

* {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevents automatic text resizing, sets smooth scrolling and tab size behavior */
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
}

/* Remove the margin in all browsers */
body {
  margin: 0;
  padding: 0;
  font-family: "Geist Sans", sans-serif;
  line-height: 1.6;
  background-color: #f3f4f6;
  -webkit-font-smoothing: antialiased;
}

/* A better looking default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* Make images responsive and block-level by scaling down and preventing stretching */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Add the correct font weight in Chrome and Safari */
b,
strong {
  font-weight: bolder;
}

/* Correct the inability to style clickable types in iOS and Safari */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/* Remove default fieldset styles. */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers */
legend {
  padding: 0;
}

/* Add the correct vertical alignment in Chrome and Firefox */
progress {
  vertical-align: baseline;
}

/* Correct the cursor style of increment and decrement buttons in Safari */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/* Correct odd appearance and outline style in Chrome and Safari */
[type=search] {
  -webkit-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}

/* Remove the inner padding in Chrome and Safari on macOS */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Make clickable types styleable and inherit font properties in iOS and Safari */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Add the correct display in Chrome and Safari */
summary {
  display: list-item;
}

/* Print styles */
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Geist Sans", sans-serif;
  line-height: 1.6;
  background-color: #f3f4f6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

main h2,
main h3 {
  color: #111827;
  margin-bottom: 20px;
}

@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em 0;
  text-align: center;
  background-color: rgb(31, 41, 55);
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
footer p {
  margin: 0;
  color: rgb(255, 255, 255);
}
footer .social-links {
  display: flex;
  gap: 20px;
}
footer .social-links a {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  transition: color 0.3s;
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }
  footer .container {
    flex-direction: column;
    align-items: center;
  }
  footer .social-links {
    margin-top: 0.625em;
  }
}

header {
  background-color: #fff;
  color: #1f2937;
  padding: 1.25em 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}
header .logo a {
  text-decoration: none;
  color: #1f2937;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li {
  margin-left: 1em;
}
header nav ul li a {
  text-decoration: none;
  transition: color 150ms ease-in-out;
  color: #4b5563;
}
header nav ul li a:hover {
  color: #111827;
}
header .menu-icons {
  display: none;
}
@media (max-width: 430px) {
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  header nav ul li {
    margin: 0 0.5em;
  }
  header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .logo {
    margin-bottom: 0.625em;
  }
}

section {
  margin-bottom: 6.25em;
}
section h2 {
  font-size: 1.875rem;
  margin-bottom: 24px;
}

p {
  color: #374151;
}

form {
  max-width: 600px;
  margin: 0 auto;
}
form .form-group {
  margin-bottom: 1.25em;
}
form .form-group label {
  display: block;
  margin-bottom: 0.313em;
  font-weight: 600;
  color: #374151;
}
form .form-group input,
form .form-group textarea {
  width: 100%;
  padding: 0.625em;
  border: 1px solid #ddd;
  border-radius: 5px;
}
form .form-group textarea {
  height: 150px;
}

#result {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: 90%;
  padding: 0.625em 1.25em;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 1em;
  text-align: center;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.hero {
  color: #111827;
  text-align: center;
  padding-top: 6.25em;
}
.hero h2 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0em;
}
.hero p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #4b5563;
}

a {
  text-decoration: none;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.projects-grid .project {
  padding: 1.25em;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.projects-grid .project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.projects-grid .project h3 {
  margin-bottom: 8px;
}
.projects-grid .project p {
  color: #374151;
  line-height: 1.625;
}
.projects-grid .project a {
  text-decoration: none;
  color: #111827;
}
.projects-grid .project:hover {
  transform: scale(1.05);
}
.projects-grid a {
  display: block;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.projects-grid a:hover {
  transform: scale(1.05);
}

@media (max-width: 430px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
.skills-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.skills-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 1em 1.25em;
  margin: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.skills-list li svg {
  width: 48px;
  height: 48px;
  shape-rendering: auto;
}

.g-recaptcha {
  margin-bottom: 1.625em;
}

html.sr .widget {
  visibility: hidden;
}

html.sr .project {
  visibility: hidden;
}

html.sr .form-group {
  visibility: hidden;
}

/*# sourceMappingURL=style.css.map */
