/* Tailwind Colors */
/* Fonts */
button {
  background-color: #3b82f6;
  color: #ffffff;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #2563eb;
}

* {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Geist Sans", sans-serif;
  line-height: 1.6;
  background-color: #f3f4f6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

main h2,
main h3 {
  color: #111827;
  margin-bottom: 20px;
}

@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Geist Sans";
  src: url("../../fonts/Geist[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  text-align: center;
  background-color: rgb(31, 41, 55);
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
footer p {
  margin: 0;
  color: rgb(255, 255, 255);
}
footer .social-links {
  display: flex;
  gap: 20px;
}
footer .social-links a {
  color: rgb(255, 255, 255);
  font-size: 24px;
  transition: color 0.3s;
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }
  footer .container {
    flex-direction: column;
    align-items: center;
  }
  footer .social-links {
    margin-top: 10px;
  }
}

header {
  background-color: #fff;
  color: #1f2937;
  padding: 20px 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}
header .logo a {
  text-decoration: none;
  color: #1f2937;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li {
  margin-left: 16px;
}
header nav ul li a {
  text-decoration: none;
  transition: color 150ms ease-in-out;
  color: #4b5563;
}
header nav ul li a:hover {
  color: #111827;
}
header .menu-icons {
  display: none;
}
@media (max-width: 430px) {
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  header nav ul li {
    margin: 0 8px;
  }
  header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .logo {
    margin-bottom: 10px;
  }
}

section {
  margin-bottom: 100px;
}
section h2 {
  font-size: 1.875rem;
  margin-bottom: 24px;
}

p {
  color: #374151;
}

form {
  max-width: 600px;
  margin: 0 auto;
}
form .form-group {
  margin-bottom: 20px;
}
form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #374151;
}
form .form-group input,
form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
form .form-group textarea {
  height: 150px;
}

#result {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: 90%;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 1em;
  text-align: center;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.hero {
  color: #111827;
  text-align: center;
  padding-top: 100px;
}
.hero h1 {
  font-size: 3rem;
  line-height: 1;
}
.hero p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #4b5563;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.projects-grid .project {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.projects-grid .project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.projects-grid .project h3 {
  margin-bottom: 8px;
}
.projects-grid .project p {
  color: #374151;
  line-height: 1.625;
}

@media (max-width: 430px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
.skills-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.skills-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 16px 20px;
  margin: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.skills-list li svg {
  width: 48px;
  height: 48px;
  shape-rendering: auto;
}

html.sr .widget {
  visibility: hidden;
}

html.sr .project {
  visibility: hidden;
}

html.sr .form-group {
  visibility: hidden;
}

/**
 * Minified by jsDelivr using clean-css v5.3.2.
 * Original file: /npm/modern-normalize@3.0.1/modern-normalize.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
}

body {
  margin: 0;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: currentcolor;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}



/*# sourceMappingURL=style.css.map */
