/* Tailwind Colors */
$text-white: rgb(255 255 255);

$bg-blue-500: #3b82f6;
$bg-blue-600: #2563eb;

$bg-gray-50: #f9fafb;
$bg-gray-100: #f3f4f6;
$bg-gray-700: rgb(55 65 81);
$bg-gray-800: rgb(31 41 55);
$bg-gray-900: rgb(17 24 39);

$text-gray-600: #4b5563;
$text-gray-800: #1f2937;
$text-gray-700: #374151;
$text-gray-900: #111827;
